#init{
    background-color: black;
    border: none;
    color: white;
}
#init:hover{
    font-weight: bold;
    color: orange !important;
    text-shadow: 1px 1px 1px white !important;
}
.image{
    border-radius: 45%;
    position: fixed;
    bottom: 1.3rem;
    left: 79.5rem;
}
.desc p{
    color: white;
    margin: 0;
    font-weight: 600;
}
.text{
    font-size: 65px;
    font-weight: 800;
    color: cadetblue;
    margin: 0;
}
.parent{
    position: relative;
    height: 100%;
    width: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.bot-img{
    width: 20rem;
    height: 20rem;
}
#test{
    z-index: 2;
    margin-top: 60px;
    margin-right: 35px;
}
.child{
    box-shadow: 0 0 2px salmon;
    border-radius: 15px;
    height: 30rem;
    width: 20rem;
    margin: auto;
    background: white;
}
.header img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 0.5rem;
    border: none;
    padding: 5px;
}
.header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid black;
    background: white;
    width: 20rem;
    height: 4.3rem;
    padding: 5px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 3px rgb(175,175,175);
}
.h-child{
    display: flex;
    align-items: center;
}
.header span{
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.refBtn{
    position: absolute;
    bottom: 1rem;
    right: 3.5rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: rgb(25, 25, 119);
    font-size: 25px;
    cursor: pointer;
}
#class_x{
    color: rgb(25, 25, 119);
    font-size: 30px;
    margin-left: 140px;
}
.btn-close,
.btn-close img {
    border: none;
    box-sizing: content-box;
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    padding: 0.25em 0.25em;
    border-radius: 50%;
    margin-left: 70px;
}
.name{
    font-weight: 600;
}
.footer{
    position: absolute;
    border-top: 1.5px solid black;
    bottom: 0;
    width: 20rem;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: black;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 0 3px rgb(175,175,175);
}
#chat-box{
    position: relative;
    top: 40px;
    padding: 8px 10px;
    font-size: 12px;
    height: 24.2rem;
    overflow: auto;
    background-color: white;
    text-align: center;
}
.msg{
    background-color: white;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: max-content;
    font-size: 18px;
    color: black;
    box-shadow: 0 0 8px rgb(51, 51, 51);
    max-width: 65%;
    text-align: left;
}
.test{
    text-align: right;
    margin: 20px 0;
}
.rep{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 18px;
    box-shadow: 0 0 5px rgb(44, 44, 44);
}
.opt{
    padding: 5px 20px;
    columns: black;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.3rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    background-color: white;
    text-align: center;
    font-size: 18px;
    color: black;
    box-shadow: 0 0 8px rgb(199, 199, 199);
}
.link{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white !important;
    background-color: black;
}
.m-link{
    text-decoration: none;
    color: black;
}
.m-link1{
    text-decoration: none;
    color: white !important;
}
.link:active{
    background-color: black;
    border: 1px solid black;
    color: white;
}
.pic{
    width: 90px;
    margin: auto;
}
.p1{
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 0 8px rgb(224, 224, 224);
}
.divdiv{
    width: 250px;
}
.p2{
    font-size: 18px;
}
